<!DOCTYPE html>
<html>
  <head>
    <title>Cookbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if user_signed_in? %>
        <p> Bem-vinda(o) <%= current_user.email%> </p>
        <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
        <%= link_to 'Minhas receitas', userrecipes_path %>
        <%= link_to 'Enviar uma receita', new_recipe_path %>
        <% if current_user.admin == true %>
            <%= link_to 'Cadastrar Tipo de Receita', new_recipe_type_path %>
        <% end %>
      <% else %>
        <%= link_to 'Entrar', new_user_session_path %>
      <% end %>

      <%= form_tag(recipes_search_path, method: :get) do %>
        <%= label_tag(:q, "Busca") %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Buscar") %>
      <% end %>

    </nav>
    <%= flash[:alert] %>
    <%= flash[:notice] %>
    <%= yield %>
  </body>
</html>
